<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.JihuoMapper">

    <resultMap id="JihuoMapper" type="com.tencent.wxcloudrun.model.Jihuo">
        <id property="id" column="id"/>
        <result property="posx" column="posx"/>
        <result property="posy" column="posy"/>
        <result property="desc" column="desc"/>
        <result property="user" column="user"/>
        <result property="count" column="count"/>
        <result property="jihuotime" column="jihuotime" javaType="java.time.LocalDateTime" />
        <result property="createtime" column="createtime" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <select id="getJihuo" resultMap="JihuoMapper" parameterType="java.lang.Integer">
        SELECT `id`, `posx`, `posy`, `desc`, `user`, `jihuotime`, `createtime` 
        FROM Jihuo
        WHERE id = #{id}
    </select>

    <select id="getJihuoall" resultMap="JihuoMapper" parameterType="java.lang.Integer">
        SELECT `id`, `posx`, `posy`, `desc`, `user`, `jihuotime`, `createtime` 
        FROM Jihuo
        order by `id` desc limit 10
    </select>

    <delete id="clearJihuo" parameterType="java.lang.Integer">
        DELETE
        FROM Jihuo
        where id = #{id}
        limit 1
    </delete>

    <update id="upsertJihuo" parameterType="com.tencent.wxcloudrun.model.Jihuo">
        INSERT INTO `Jihuo`(`posx`, `posy`, `desc`, `user`, `jihuotime`, `createtime`)
        VALUE(#{posx}, #{posy}, #{desc}, #{user}, #{jihuotime}, #{createtime}) 
    </update>

</mapper>
