<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.JihuodetailMapper">

    <resultMap id="JihuodetailMapper" type="com.tencent.wxcloudrun.model.Jihuodetail">
        <id property="id" column="id"/>
        <result property="jihuoid" column="jihuoid"/>
        <result property="canyuuser" column="canyuuser"/>
        <result property="num" column="num"/>
        <result property="desc" column="desc"/>
        <result property="createtime" column="createtime" javaType="java.time.LocalDateTime"  />
        <result property="isaction" column="isaction"/>
    </resultMap>

    <select id="getJihuodetail" resultMap="JihuodetailMapper" parameterType="java.lang.Integer">
        SELECT `id`, `jihuoid`, `canyuuser`, `num`, `desc`, `createtime`, `isaction` 
        FROM Jihuodetail
        WHERE id = #{id}
    </select>

    <select id="getJihuodetailbyjihuoid" resultMap="JihuodetailMapper" parameterType="java.lang.Integer">
        SELECT `id`, `jihuoid`, `canyuuser`, `num`, `desc`, `createtime`, `isaction` 
        FROM Jihuodetail
        WHERE jihuoid = #{id}
    </select>

    <select id="getJihuodetailall" resultMap="JihuodetailMapper" parameterType="java.lang.Integer">
        SELECT `id`, `jihuoid`, `canyuuser`, `num`, `desc`, `createtime`, `isaction` 
        FROM Jihuodetail
        order by `id` desc
    </select>

    <delete id="clearJihuodetail" parameterType="com.tencent.wxcloudrun.model.Jihuodetail">
        DELETE
        FROM Jihuodetail
        where `jihuoid` = #{jihuoid} and `canyuuser` = #{canyuuser}
    </delete>

    <update id="upsertJihuodetail" parameterType="com.tencent.wxcloudrun.model.Jihuodetail">
        INSERT INTO `Jihuodetail`(`jihuoid`, `canyuuser`, `num`, `desc`, `createtime`, `isaction` )
        VALUE(#{jihuoid}, #{canyuuser}, #{num}, #{desc}, #{createtime}, #{isaction}) 
    </update>

</mapper>
