<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.MemberMapper">

    <resultMap id="MemberMapper" type="com.tencent.wxcloudrun.model.Member">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="wxid" column="wxid"/>
        <result property="manage" column="manage"/>
        <result property="wxrealid" column="wxrealid"/>
    </resultMap>

    <select id="getMember" resultMap="MemberMapper" parameterType="java.lang.Integer">
        SELECT `id`, `name`, `wxid`, `manage` ,`wxrealid`
        FROM Member
        WHERE id = #{id}
    </select>

    <select id="getMemberbyWxrealid" resultMap="MemberMapper" parameterType="java.lang.String">
        SELECT `id`, `name`, `wxid`, `manage` ,`wxrealid`
        FROM Member
        WHERE wxrealid = #{wxrealid}
    </select>

    <select id="getManage" resultType="String" parameterType="java.lang.String">
        SELECT `manage` 
        FROM Member
        WHERE wxid = #{openid} 
        order by `id` desc 
        limit 1
    </select>

    <select id="getMemberall" resultMap="MemberMapper" parameterType="java.lang.Integer">
        SELECT `id`, `name`, `wxid`, `manage` ,`wxrealid`
        FROM Member where delflag = 0
        order by `id` desc 
    </select>

    <delete id="clearMember" parameterType="java.lang.Integer">
        DELETE
        FROM Member
        where id = #{id}
        limit 1
    </delete>

    <update id="upsertMember" parameterType="com.tencent.wxcloudrun.model.Member">
        INSERT INTO `Member`(`name`, `wxid`, `manage`,`wxrealid` )
        VALUE(#{name}, #{wxid}, #{manage}, #{wxrealid}) 
    </update>

    <update id="updateRealwxid" parameterType="com.tencent.wxcloudrun.model.Member">
        update  `Member` set  `name` = #{name}
        where  `wxrealid` = #{wxrealid}
    </update>

</mapper>
